.sidebar-media{
  padding: 15px;
  box-sizing: border-box;
  font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
  min-height: 100vh;

  .sidebar__info{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .sidebar__info-add{
      border: 1px solid gray;
      padding: 3px 10px;
      border-radius: 50%;
      font-size: 25px;
    }
  }

}