.dot {
  height: 35px;
  width: 35px;

  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.blue-dot {
  background-color: rgb(29, 155, 240);
}
.yellow-dot {
  background-color: rgb(255, 212, 0);
}
.pink-dot {
  background-color: rgb(249, 24, 128);
}
.purple-dot {
  background-color: rgb(120, 86, 255);
}
.orange-dot {
  background-color: rgb(255, 122, 0);
}
.green-dot {
  background-color: rgb(0, 186, 124);
}
