.wrapper{
  cursor: pointer;
  padding-right: 0.625rem;
  padding-left:0.625rem;
  border-top: 1px solid  rgb(239, 243, 244);
  color:  rgb(83, 100, 113);
  max-width: 600px
};
.followerBlock{
  display: flex;
  align-items: center;
}
.person{
  width: 14px;
  height: 14px;
}
.followerText{
  display: inline-block;
  font-weight: 700;
 color: inherit;
}
.content{
  display: flex;
  justify-content: space-between
}
.postInfo{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0.125rem;
}
.name{
  color: #000;
}
.avatar{
  width: 43px;
  height: 43px;
  margin-right: 0.688rem;
}
.avatar:hover{
opacity: 0.8;
}
.verified{
  width: 18px;
  height: 18px;
  color: rgb(29, 155, 240);
  margin:0 0.125rem;
}
.listIcon{
  margin-right: 5px;
}

.icon{
  padding: 1rem;
}

.iconBlue:hover .icon{
  background-color: lightcyan;
  color: rgb(29, 155, 240);
  border-radius: 50%;
}
.iconBlue:hover .text{
  color: rgb(29, 155, 240);
}

.iconGreen:hover .icon{
  color: green;
  background-color: lightgreen;
  border-radius: 50%;
}
.iconGreen:hover .text{
  color: green;
}

.iconPink:hover .icon{
  color: pink;
  background-color: lightpink;
  border-radius: 50%;
}
.iconPink:hover .text{
  color: pink;
}



