


.avatar{
  width: 43px;
  height: 43px;
  margin-bottom: 5px;
}
.avatar:hover{
opacity: 0.8;
}


.verified{
  width: 18px;
  height: 18px;
  color: #1d9bf0;
  margin:0 0.125rem;
}
.imgWrapper{
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  }
.media{
    max-width: 300px;
  height: 300px;
}
.listIcon{
  margin-right: 5px;
}

.icon{
  padding: 1rem;
}

.iconBlue:hover .icon{
  background-color: lightcyan;
  color: rgb(29, 155, 240);
  border-radius: 50%;
}
.iconBlue:hover .text{
  color: rgb(29, 155, 240);
}

.iconGreen:hover .icon{
  color: green;
  background-color: lightgreen;
  border-radius: 50%;
}
.iconGreen:hover .text{
  color: green;
}

.iconPink:hover .icon{
  color: pink;
  background-color: lightpink;
  border-radius: 50%;
}
.iconPink:hover .text{
  color: pink;
}



